*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-image: url(../image/fon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Ubuntu";
  font-weight: 400;
  color: #ffffff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 79px;
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}
a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s;
}
.nav-bar {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
  gap: 25px;
  font-size: 14px;
  line-height: 14px;
}
.logo a:hover,
.nav-bar a:hover {
  color: #3cb878;
}
.nav-bar svg {
  width: 23px;
  height: 23px;
  fill: currentColor;
}
.nav-bar-text {
  margin-left: 27px;
}
.nav-bar-text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 203px;
  height: 19px;
  transform: translateY(50%);
  opacity: 0.5;
  border-right: 1px solid white;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 58px);
  padding: 30px 0 50px;
}
.form-block {
  position: relative;
  width: 444px;
  height: 584px;
  padding: 32px 60px 38px;
  background-color: #ffffff;
}
.form-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  transition: 0.3s;
}
.form-title a:hover,
.form-checkbox a:hover {
  color: #01813f;
  text-decoration: underline;
}
.form-title::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
}
.sign-up {
  width: 69px;
  height: 14px;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.log-in {
  width: 39px;
  height: 14px;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
.network {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 31px;
}
.button {
  position: relative;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 4px;
  line-height: 16px;
  background-color: #3cb878;
  color: #ffffff;
  border: none;
  transition: all 0.3s;
}
.button:hover {
  background-color: #01813f;
}
.network .button {
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 0;
}
.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.facebook-btn .button-icon {
  width: 13px;
  margin: 12px 0 12px 17px;
}
.facebook-btn {
  position: relative;
  padding: 0 22px;
  background-color: #305db8;
}
.facebook-btn:hover {
  background-color: #022263;
}
.google-btn .button-icon {
  margin: 15px 7px 14px 12px;
}
.google-btn {
  padding-right: 27px;
  background-color: #df4a32;
}
.google-btn:hover {
  background-color: #ab1f09;
}
.button-icon::before {
  content: "";
  position: absolute;
  height: 28px;
  top: 50%;
  left: 48px;
  border-right: 1px solid #ffffff;
  transform: translateY(-50%);
  opacity: 0.1;
}
.or {
  position: relative;
  width: 15px;
  height: 14px;
  margin: 0 auto 12px auto;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}
.or::before,
.or::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 152px;
  border-bottom: 1px solid #f2f2f2;
}
.or::before {
  left: 14px;
}
.or::after {
  right: 16px;
}
.form-item {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #434343;
  margin-bottom: 15px;
  transition: all 0.3s;
}
.form-item:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 45px;
  outline: none;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding-left: 20px;
  color: #434343;
  transition: all 0.3s;
}
.form-item > input:active,
.form-item > input:focus,
.form-item > input:hover {
  font-size: 14px;
  line-height: 14px;
  border-color: #ffffff;
}
input::placeholder {
  color: #bebebe;
}
.form-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #434343;
  margin-top: 12px;
  margin-bottom: 20px;
}
.form-checkbox a {
  color: #3cb878;
  transition: 0.3s;
}
.checkbox {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-size: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  border: 1px solid #f2f2f2;
  transition: all 0.3s;
}
.checkbox:checked {
  background-size: 14px 13.5px;
  background-image: url(../image/checked_Vector\ 1.png);
}
.form-button .button {
  width: 100%;
}
